:root {
	--bs-primary: #622f1c; 
	--cui-sidebar-bg: #582816; 
}

.sidebar {
	--cui-sidebar-bg: #80432d; 
}

#sidebar.bg-dark-gradient {
	background: linear-gradient(180deg, var(--cui-sidebar-bg) 0%, var(--cui-sidebar-bg) 100%);
}

.btn-primary {
	--cui-btn-bg: #dda54a; 
	--cui-btn-border-color: #dda54a;
	--cui-btn-hover-bg: #c18e3d; 
	--cui-btn-hover-border-color: #c18e3d;
	--cui-btn-active-bg: #c18e3d;
	--cui-btn-active-border-color: #c18e3d;
	--cui-btn-disabled-bg: #f2c67a; 
	--cui-btn-disabled-border-color: #f2c67a;
}
